<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--Had to add dotnet-core myget feed to get xunit test runner -->
    <add key="dotnet-core" value="https://www.myget.org/F/dotnet-core/api/v3/index.json"/>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>